version: '3.6'

services:
    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        networks:
            static-network:
                ipv4_address: 172.30.0.101
        ports:
            - 9090:9090
        command:
            - --config.file=/etc/prometheus/prometheus.yml
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
        depends_on:
            - scriptengine
    scriptengine:
        image: onovoselov/scriptengine:latest
        container_name: scriptengine
        networks:
            static-network:
                ipv4_address: 172.30.0.100
        ports:
            - 8080:8080
networks:
    static-network:
        ipam:
            config:
                - subnet: 172.30.0.0/16

